/* PT Sans */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/PTSans-Regular.ttf") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PTSans-Bold.ttf") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/PTSans-Italic.ttf") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/PTSans-BoldItalic.ttf") format("woff2");
  font-display: swap;
}


body{
  font-family: Pt Sans;
  background: #F2F2F2;
}

main{
  background: #FFF;
}

.standart-button{
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #756157;
  border: #756157;
}

.blue-batton{
  font-size: 20px;
  border-radius: 0 4px 4px 0;
  line-height: 36px;
  background-color: #82B3D3;
  border: #82B3D3;
}
.small{
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}
.page-header{
  background: #FFF;
}

.navigation a{
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
}

.button-a{
  background-color: #756157;
}

.button-a span{
  color: white;
  text-transform: uppercase;
}

.description{
  text-align: center;

  font-size: 30px;
  text-transform: uppercase;
  line-height: 36px;
  font-weight: 700;
}
.advanteges{
  text-align: center;
}
.advanteges h2{
  font-size: 22px;
  line-height: 26px;
}

.hero{
  background-color: #1506f1;
  background-image: url(../pictures/jpeg/sedona_background.jpg);

}

.town{
  color: #FFF;
  background-color: #82B3D3;
}
.advanteges-item h3{

  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advanteges-item p{

  font-size: 18px;
  line-height: 21px;
}

.nested-advanteges-items{
  background-color: #83B3D31F;
}
.nested-advanteges-items:nth-child(even){
  background-color: rgba(131, 179, 211, 0.20);
}
.devil-bridge{
  color: #FFF;
  background-color: #82B3D3;
}

.come-to-sedona{
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.good-service{
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.adition-advateges h2{
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.adition-advateges-item h3{
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 28px;
}

.adition-advateges-item:nth-child(odd){
  background-color: #83B3D31F;
}

.adition-advateges-item p{
  text-align: center;
  font-size: 18px;
  line-height: 21px;
}


.find-accommodation{
  text-align: center;
}
.find-accommodation span{
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.find-accommodation p{
  font-size: 22px;
  line-height: 26px;
}


.newsletter-subscribe{
  background-color: #1506f1;
  background-image: url(../pictures/jpeg/subscribe_background.jpg);
  color: #FFFFFF;
}

.newsletter-subscribe{
  text-align: center;
}
.newsletter-subscribe h2{
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-subscribe p{
  font-size: 22px;
  line-height: 26px;
}
.newsletter-subscribe input{
  border: #F2F2F2;
  border-radius: 4px 0 0 4px;
}

.page-footer{
  background-color: #FFF;
}

.filter{
  background: #1506f1 url(../pictures/jpeg/filter_background.jpg) no-repeat;
  background-size: 100% 100%;
  color: #FFF;
}
.filter h1{
  font-size: 60px;
  line-height: 78px;
}
.filter-form legend{
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}
.filter-form .control-input{
  font-size: 18px;
  line-height: 23px
}
.filter .price-range .slider-title{
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}
.filter .price-range .slider-labels{
  text-align: right;
  font-size: 18px;
  line-height: 24px
}

.reset{
  background:transparent;
  outline: none;
}

.sort h2{
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
.select-wrapper option{
  font-size: 18px;
  line-height: 21px;
}

.product-card{
  border-radius: 4px;
  border: 1px solid #E6E6E6;
}

.more-info{
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.product-card-title{
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.accommodation-type{
  font-size: 18px;
  line-height: 21px;
}
.price-hotel{
  text-align: right;
  font-size: 18px;
  line-height: 21px
}
.rate{
  border-radius: 4px;
  background-color: #F2F2F2;
  background: #F2F2F2;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.newsletter-subscribe-catalog{
  background: none;
  color: #000;
}
