/* PT Sans */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

body{
  font-family: Pt Sans;
  background: #F2F2F2;
}
.content{
  width: 1200px;
  background: #FFF;
  margin: 0 70px;
}
p{
  color:#333333;
}
span{
  color: #333333;
}
b{
  color:#333333;
}
a{
  text-decoration: none;
}
.standart-button{
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #82B3D3;
  border: #82B3D3;
}

.gray-button{
  background-color: #756157;
  border: #756157;
}
.big-button{
  font-size: 20px;
  line-height: 24px;
}
.green-button{
  background-color: #7DB54F;
}
.page-header{
  margin: 0 70px ;
}
.navigation{
  display: flex;
  justify-self: start;
}
.page-header{
  width: 1200px;
  height: 64px;
  align-items:start;
}
.nav-logo{
  display: block;
  margin-right: 30px;
}
.navigation-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
.navigation-list{
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}
.navigation-2{
  display: flex;
}
.navigation a{
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}
.navigation-item{
  padding: 0 20px;
}
.navigation-item:last-child{
  padding: 0;
}
.button-a{
  background-color: #756157;
  border-radius: 4px;
}

.button-a span{
  color: white;
  text-transform: uppercase;
}
.here{
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  align-self: flex-start;
}
.description{
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 36px;
  font-weight: 700;
}
.advanteges{
  color: #FFFFFF;
  text-align: center;
}

.advanteges h2{
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.welcome-hero{
  background: #5549fc url(../pictures/jpeg/sedona_background.jpg) no-repeat;
}
.reasons-title{
  color: #333333;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}
.advanteges-item p{
  color: #FFF;
}
.town{
  background-color: #82B3D3;
}
.advanteges-item h3{
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advanteges-item p{
  font-size: 18px;
  line-height: 21px;
}
.advanteges-item img{
  display: block;
}
.nested-advanteges-items{
  background-color: #83B3D31F;
}
.nested-advanteges-items h3{
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}
.nested-advanteges-items p{
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}
.nested-advanteges-items:nth-child(even){
  background-color: rgba(131, 179, 211, 0.20);
}
.devil-bridge{
  color: #FFF;
  background-color: #82B3D3;
}

.come-to-sedona{
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.good-service{
  text-align: center;
  color:#333333;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.adition-advateges h2{
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.adition-advateges-item h3{
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 28px;
}

.adition-advateges-item:nth-child(odd){
  background-color: #83B3D31F;
}

.adition-advateges-item p{
  text-align: center;
  font-size: 18px;
  line-height: 21px;
}


.find-accommodation{
  text-align: center;
}
.find-accommodation span{
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.find-accommodation p{
  font-size: 22px;
  line-height: 26px;
}


.newsletter-subscribe{
  background: #5245fa url(../pictures/jpeg/subscribe_background.jpg) no-repeat;
  color: #FFFFFF;
}

.newsletter-subscribe{
  text-align: center;
}
.newsletter-subscribe h2{
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-subscribe p{
  color: #FFF;
  font-size: 22px;
  line-height: 26px;
}
.newsletter-subscribe input{
  border: #F2F2F2;
  border-radius: 4px 0 0 4px;
}
.phonnumber{
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase
}
.filter{
  background: #1506f1 url(../pictures/jpeg/filter_background.jpg) no-repeat;
  background-size: 100% 100%;
  color: #FFF;
}
.filter h1{
  font-size: 60px;
  line-height: 78px;
}
.filter-form legend{
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}
.filter-form .control-input{
  font-size: 18px;
  line-height: 23px
}
.filter .price-range .slider-title{
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}
.slider-labels{
  color:#000;
  opacity: 0.3;
  text-align: right;
  font-size: 18px;
  line-height: 24px
}
.accept{
  border-radius: 0;
}
.reset{
  background:transparent;
  outline: none;
}

.sort h2{
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
.select-wrapper option{
  font-size: 18px;
  line-height: 21px;
}

.product-card{
  border-radius: 4px;
  border: 1px solid #E6E6E6;
}

.more-info{
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.product-card-title{
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.accommodation-type{
  font-size: 18px;
  line-height: 21px;
}
.price-hotel{
  font-family: Pt sans;
  text-align: right;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px
}
.rate{
  border-radius: 4px;
  background-color: #F2F2F2;
  background: #F2F2F2;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.newsletter-subscribe-catalog{
  background: none;
  color: #000;
}
.subscribe-button{
  border-radius: 0 4px 4px 0;
  line-height: 36px;
}
