/* fonts */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

/* standards */
html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  align-items: flex-start;
  font-family: Pt Sans;
  background: #f2f2f2;
  padding: 0 40px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.content {
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
  background: #fff;
  width: 1200px;
}

.main {
  flex-grow: 1;
  min-height: 100%;
}

.page-footer {
  position: sticky;
  bottom: 0;
  background: #FFF;
  display: flex;
  max-width: 1200px;
  height: 120px;
  padding: 40px 70px 30px 70px;
  justify-content: center;
  align-items: center;
}

p {
  margin: 0;
  color: #333;
}

a {
  margin: 0;
  text-decoration: none;
}

span,
b {
  color: #333;
}

fieldset{
  border: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Убираем стандартные стили для кнопки в Chrome */
button::-webkit-inner-spin-button,
button::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Убираем отступы вокруг input и button */
input[type="email"], button[type="submit"] {
  margin: 0;
}

.standart-button {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #82b3d3;
  border: #82b3d3;
}

.gray-button {
  background-color: #756157;
  border: #756157;
}

.big-button {
  font-size: 20px;
  line-height: 24px;
}

.green-button {
  background-color: #7db54f;
}

.button-a {
  display: flex;
  background-color: #756157;
  padding: 8px 34px;
  border-radius: 4px;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.button-a span {
  color: #fff;
  text-transform: uppercase;
}

/* header */
.page-header {
  margin: 0;
  padding: 0;
  height: 64px;
  flex-shrink: 0;
}

.navigation {
  display: flex;
  align-items: stretch;
  margin: 0 70px;
}

.navigation-wrapper {
  display: flex;
  flex-shrink: 0;
}

.nav-logo {
  display: block;
  margin-right: 30px;
}

.navigation-list {
  display: flex;
}

.right-part {
  margin-left: auto;
}

.navigation a {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.navigation-item {
  max-height: 64px;
  padding: 0 20px;
}

.navigation-item{
  display: flex;
  padding: 0 12px;
  justify-content: center;
  align-items: center;
}


.right-part .navigation-item a{
  display: flex;
  width: 20px;
  height: 20px;
  padding: 1px 0 0 1px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.here{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 12px;
  height: 64px;
}

.here a{
  color: #fff;
  font-size: 23px;
  font-weight: 700;
  line-height: 20px;
}

/* hero */
.welcome-hero-wrapper {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  min-height: 485px;
  background-color: #24d18f;
  background-image: url(../pictures/svg/whiteline.svg), url(../pictures/jpeg/sedona_background.jpg);
  background-position: bottom, bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: auto auto ,100% 100%;
}

.reasons-wrapper {
  margin: 0;
  display: flex;
  padding: 69px 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-bottom: 21px;
}

.description {
  text-align: center;
  width: 620px;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 36px;
  font-weight: 700;
}

.reasons-title {
  margin: 0;
  color: #333;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.advantages-text-wrapper {
  display: grid;
  justify-content: center;
  gap: 30px;
}

.advanteges-item p {
  text-align: center;
  color: #fff;
  display: block;
  font-size: 18px;
  line-height: 21px;
}

.town {
  color: #FFF;
  display: grid;
  align-items: center;
  background-color: #82b3d3;
  grid-template-columns: 400px auto;
}

.line{
  margin: auto;
  min-width: 60px;;
  border: 2px #000 solid;
  opacity: 0.3;
}

.advanteges-item h3 {
  text-align: center;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advanteges-item img {
  display: block;
}

.nested-advanteges-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

.nested-advanteges-items {
  text-align: center;
  padding: 103px 80px;
  display: grid;
  align-items:center;
  justify-content: center;
  gap: 30px;
  height: 385px;
  background-color: #83b3d31f;
}

.nested-advanteges-items h3 {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.nested-advanteges-items p {
  color: #333;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.nested-advanteges-items:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.20);
}

.devil-bridge {
  display: grid;
  align-items: center;
  grid-template-columns: auto 400px;
  color: #fff;
  background-color: #82b3d3;
}

.come-to-sedona {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.good-service {
  text-align: center;
  color: #333;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}
.additon-advanteges-wrapper{
  display: flex;
  padding: 64px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.adition-advanteges-list {
  display: grid;
  height: 385px;
  grid-template-columns: 400px 400px 400px;
  justify-content: center;
  align-items: center;
}

.adition-advateges-item h3 {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 28px;
}

.adition-advateges-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
  height: 385px;
}

.adition-advateges-item:nth-child(odd) {
  background-color: #83b3d31f;
}

.adition-advateges-item p {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
}

.find-accommodation {
  text-align: center;
  display: flex;
  padding: 96px 304px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.find-button{
  margin-top: 54px;
  display: inline-flex;
  padding: 8px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.find-accommodation p {
  font-size: 22px;
  line-height: 26px;
}

.newsletter-subscribe {
  background: #24d18f url(../pictures/jpeg/subscribe_background.jpg) no-repeat;
  background-size: 100% 100%;
  color: #fff;
  display: flex;
  padding: 96px 258px 104px 258px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.newsletter-subscribe p {
  color: #fff;
  font-size: 22px;
  line-height: 26px;
}

.newsletter-subscribe input{
  padding: 12px 20px;
  font-size: 18px;
  line-height: 24px;
  gap: 260px;
  border: #f2f2f2;
  border-radius: 4px 0 0 4px;
  flex: 1 0 0;
}

.email-submit{
  min-width: 452px;
}

.newsletter-button
{
  display: flex;
}

.phonnumber {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

.filter {
  background: #26f578 url(../pictures/jpeg/filter_background.jpg) no-repeat;
  background-size: 100% 100%;
  color: #fff;
}

.filter h1 {
  font-size: 60px;
  line-height: 78px;
}

.filter-form .control-input {
  font-size: 18px;
  line-height: 23px;
}

.slider-labels {
  color: #000;
  opacity: 0.3;
  text-align: right;
  font-size: 18px;
  line-height: 24px;
}

.accept {
  border-radius: 0;
}

.reset {
  background: transparent;
  outline: none;
}
.products{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}

.product-card {
  display: grid;
  max-width: 340px;
  align-items: center;
  padding: 19px;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 212px 1fr;
  gap: 16px 20px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
}

.more-info {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.product-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.price-hotel {
  text-align: right;
  font: 400 18px/21px "Pt sans";
}

.rate {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  border-radius: 4px;
  background-color: #f2f2f2;
  background: #f2f2f2;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}



.subscribe-button {
  margin: 0;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
  line-height: 36px;
}
.newsletter-subscribe-form input,
.newsletter-subscribe-form button {
  margin: 0;
}
.advanteges h2,
.adition-advateges h2 {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.adition-advanteges-content-image::before{
  content: '';
  display: block;
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  background-position: center;
}
.home::before{
  background-image: url(../pictures/svg/home.svg);
}
.food::before{
  background-image: url(../pictures/svg/food.svg);
}
.souvenirs{
  background-image: url(../pictures/svg/souvenirs.svg);
}
.find-accommodation span,
.newsletter-subscribe h2,
.sort h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
.filter-form legend,
.filter .price-range .slider-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.select-wrapper option,
.accommodation-type {
  font-size: 18px;
  line-height: 21px;
}


.social-list{
  display: flex;

}

.selected-button{
  background-color: #7DB54F;
}

.soclials-item{
  display: flex;
  padding: 0 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  width: 24px;
  height: 17px;
  background-repeat: no-repeat;
}

.vk{
  background-image: url(../pictures/svg/vk.svg);
}

.telegram{
  background-image: url(../pictures/svg/telegram.svg);
}

.youtube{
  background-image: url(../pictures/svg/youtube.svg);
}

.footer-content-wrapper{
  display: flex;
  width: 1060px;
  justify-content: space-between;
  align-items: center;
}

/* catalog */
.filter{
  display: flex;
  padding: 35px 70px 70px 70px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.filter-form{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.breadcrumbs-list{
  display: flex;
  align-items: center;
}

.breadcrumbs-item{
  min-width: 13px;
  background-repeat: no-repeat;
}

.home-link{
  background-image: url(../pictures/svg/home_page.svg);
}

.filter-title{
  margin-bottom: 32px;
}
.infrastructure-list, .accommodation-list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.price-slider{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.filter-button-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.catalog{
  display: flex;
  padding: 50px 70px 60px 70px;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
  align-self: stretch;
}
.sort{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.sort-type-list{
  display: flex;
}
.product-list{
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin-bottom: 80px;
}
.hotel-card-img,
.product-card-title{
  display: block;
  grid-column: span 2;
}

.hotel-stars{
  display: flex;
  align-items: center;
  gap: 6px;
  flex: 1 0 0;
  align-self: stretch;
}

.more-info{
  background-color: #756157;
  padding: 8px 26px;
}
.favourites{
  width: 140px;
  height: 36px;
  display: flex;
  padding: 8px 10px;
  justify-content: center;
  align-items: center;
}
.more-info-a{
  padding: 8px 20px;
}
.content-divider{
  border: 1px #E6E6E6 solid;
  width: 100%;
}
.pagination{
  display: flex;
  align-items: flex-start;
  gap: 8px;
  flex-wrap: wrap;
}
.pagination-item{
  position: relative;
  text-align: center;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  background-color: #82B3D3;
}
.pagination-link{
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
  color: #FFF;
}
.pagination-current-link{
  color: #000;
}
.pagination-current{
  background-color: #FFF;
}

.newsletter-subscribe-catalog {
  background: none;
  color: #000;
}

.newsletter-subscribe-catalog p{
  color: #333333;
}
