/* fonts */
@font-face {
	font-family: "PT Sans";
	src: url("../fonts/ptsans-700.woff2") format("woff2");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	src: url("../fonts/ptsans-400.woff2") format("woff2");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

/* standarts */
html,
body {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

body {
  margin: 0;
  font-family: Pt Sans, sans-serif;
  background: #f2f2f2;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  background: #fff;
  max-width: 1200px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}

.main-page {
  background-color: #FFF;
  flex-grow: 1;
  width: 1200px;
}

.page-footer {
  bottom: 0;
  display: flex;
  padding: 40px 70px 30px 70px;
  justify-content: center;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.standart-button {
  font-family: "PT Sans", sans-serif;
  border: 0;
  display: block;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #82b3d3;
}

.gray-button {
  background-color: #756157;
}

.big-button {
  font-size: 20px;
  line-height: 24px;
}

.green-button {
  background-color: #7db54f;
}

.button-a {
  display: flex;
  background-color: #756157;
  padding: 8px 34px;
  border-radius: 4px;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.button-a span {
  color: #fff;
  text-transform: uppercase;
}

.pads{
  padding: 0 70px;
}
/* header */
.page-header {
  margin: 0;
  padding: 0;
  flex-shrink: 0;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
}

.nav-logo {
  z-index: 2;
  display: block;
  margin-right: 28px;
  position: relative;
  width: 140px;
  height: 70px;
  margin-bottom: -6px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 220px;
  display: flex;
  flex-wrap: wrap;
}

.navigation-page{
  max-width: 500px;
}

.right-part {
  margin-left: auto;
}

.current-page{
  display: inline-block;
}


.navigation-link{
  font-family: Pt sans;
  font-size: 20px;
  line-height: 24px;
  padding: 20px 16px;
  display: block;
  color: #000;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

.right-part .navigation-link {
  padding: 22px 12px;
}

.navigation-icon {
  display: block;
  fill: #fff;
}

.button-overflow-wrapper {
  margin-left: 20px;
  max-width: 200px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.navigation-here-button{
  margin-top: 14px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  padding: 8px 34px;
}


/* hero */
.welcome-hero-wrapper {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  min-height: 485px;
  padding: 25px 371px 82px 371px;
  background-color: #24d18f;
  background-image: url(../pictures/svg/whiteline.svg), url(../pictures/jpeg/sedona_background.jpg);
  background-position: bottom, bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: auto auto ,100% 100%;
}

.advanteges{
  text-align: center;
}

.description {
  margin: 0;
  padding: 0;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 36px;
  font-weight: 700;
  margin-top: 69px;
  margin-bottom: 25px;
}

.reasons-title {
  margin: 0;
  margin-bottom: 90px;
  color: #333;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.advanteges-item p {
  margin: 0;
  padding: 0;
  color: #fff;
  display: block;
  font-size: 18px;
  line-height: 21px;
}


.town {
  color: #FFF;
  display: grid;
  align-items: center;
  grid-template-columns: 400px auto;
}

.blue-card h3::after{
  background-color: #FFF;
}

.advantages-text-wrapper {
  padding: 103px 83px;
  background-color: #82b3d3;
}

.nested-advanteges-list {
  background-color: #FFF;
  color: #FFF;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  min-height: 385px;
}

.advanteges-title::after{
  content: '';
  display: block;
  margin: 0  auto 0 auto;
  width: 60px;
  height: 2px;
  background-color: #000;
  opacity: 0.3;
  margin-top: 30px;
  margin-bottom: 30px;
}

.advanteges-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advanteges-item h3 {
  text-align: center;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advanteges-item img {
  display: block;
}

.nested-advanteges-items {
  text-align: center;
  background-color: #83b3d31f;
}

.nested-advanteges-items h3 {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.nested-advanteges-items p {
  color: #333;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.nested-advanteges-items:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.20);
}

.devil-bridge {
  display: grid;
  align-items: center;
  grid-template-columns: auto 400px;
  color: #fff;
  background-color: #82b3d3;
}

.come-to-sedona {
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.good-service {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #333;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.additon-advanteges-wrapper{
  display: flex;
  padding: 64px 340px;
  flex-direction: column;
  gap: 20px;
}

.adition-advanteges-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  height: 385px;
  grid-template-columns: 400px 400px 400px;
  align-items: center;
}


.adition-advateges-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
  height: 385px;
}

.adition-advateges-item h3 {
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 28px;
}

.adition-advateges-item:nth-child(odd) {
  background-color: #83b3d31f;
}

.adition-advateges-item p {
  margin: 0;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
}

.find-accommodation {
  text-align: center;
  display: flex;
  padding: 96px 304px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.big-button{
  margin-top: 54px;
  display: inline-flex;
  padding: 8px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.find-accommodation p {
  font-size: 22px;
  line-height: 26px;
}

.newsletter-subscribe {
  background: #24d18f url(../pictures/jpeg/subscribe_background.jpg) no-repeat;
  background-size: 100% 100%;
  color: #fff;
  display: flex;
  padding: 96px 258px 104px 258px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.newsletter-subscribe p {
  color: #fff;
  font-size: 22px;
  line-height: 26px;
}

.newsletter-subscribe input{
  padding: 12px 20px;
  font-size: 18px;
  line-height: 24px;
  gap: 260px;
  border: #f2f2f2;
  border-radius: 4px 0 0 4px;
  flex: 1 0 0;
}

.email-submit{
  min-width: 452px;
}

.newsletter-button
{
  display: flex;
}

.contacts a{
  text-decoration: none;
  color: #000;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}


.partnership img {
  display: block;
}

.filter {
  background: #26f578 url(../pictures/jpeg/filter_background.jpg) no-repeat;
  background-size: 100% 100%;
  color: #fff;
}

.infrastructure-group{
  margin-left: 70px;
}

.filter h1 {
  font-size: 60px;
  line-height: 78px;
}

.filter-form .control-input {
  font-size: 18px;
  line-height: 23px;
}

.slider-labels {
  color: #000;
  opacity: 0.3;
  text-align: right;
  font-size: 18px;
  line-height: 24px;
}

.accept, .reset {
  padding: 8px 50px;
}

.reset {
  background: transparent;
  outline: none;
}
.products{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}

.product-card {
  display: grid;
  max-width: 340px;
  align-items: center;
  padding: 19px;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 212px 1fr;
  gap: 16px 20px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
}

.more-info {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.product-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.price-hotel {
  text-align: right;
  font: 400 18px/21px "Pt sans";
}

.rate {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  border-radius: 4px;
  background-color: #f2f2f2;
  background: #f2f2f2;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.subscribe-button {
  margin: 0;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
  line-height: 36px;
}
.newsletter-subscribe-form input,
.newsletter-subscribe-form button {
  margin: 0;
}
.advanteges h2,
.adition-advateges h2 {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.adition-advanteges-title::before{
  content: '';
  display: block;
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  background-position: center;
}

.home::before{
  background-image: url(../pictures/svg/home.svg);
}

.food::before{
  background-image: url(../pictures/svg/food.svg);
}

.souvenirs::before{
  background-image: url(../pictures/svg/souvenirs.svg);
}

.find-accommodation span,
.newsletter-subscribe h2,
.sort h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
.filter-form legend,
.filter .price-range .slider-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}


.select-wrapper option,
.accommodation-type {
  font-size: 18px;
  line-height: 21px;
}

.select-wrapper{
  margin-left: auto;
  margin-right: 70px;
}

.select-control{
  display: flex;
  min-width: 292px;
  padding: 14px 20px;
  align-items: center;
}


.button-table{
  display: inline-block;
  padding: 8px 8px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.button-table::after{
  content: '';
  display: block;
  width: 16px;
  height: 14px;
  margin-left: 10px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}

.table::after{
  background-image: url(../pictures/svg/tablerow.svg);
}

.big-picture::after{
  background-image: url(../pictures/svg/grid.svg);
}

.list::after{
  background-image: url(../pictures/svg/list.svg);
}

.socials-list{
  list-style-type: none;
  display: flex;
}

.selected-button{
  background-color: #7DB54F;
}

.socials-item{
  padding: 0 10px;
}

.socials-link::after {
  content: '';
  display: block;
  width: 24px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.vk::after {
  background-image: url(../pictures/svg/vk.svg);
}

.telegram::after {
  background-image: url(../pictures/svg/telegram.svg);
}

.youtube::after {
  background-image: url(../pictures/svg/youtube.svg);
}


.page-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* catalog */
.header-filter h1{
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin-bottom: 8px;
}

.filter{
  display: flex;
  padding: 35px 70px 70px 70px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.filter-form{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: wrap;
}

.breadcrumbs-list{
  display: flex;
  align-items: center;
}

.home-breadcrumbs::before{
  content: '';
  display: block;
  width: 13px;
  height: 13px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../pictures/svg/home_page.svg);
}

.breadcrumbs-item{
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
}
.breadcrumbs-item a{
  font-size: 16px;
  line-height: 21px;
  color: #FFF;
}
.home-link{
  background-image: url(../pictures/svg/home_page.svg);
}

.breadcrumbs-item::after{
  content: '';
  display: block;
  height: 21px;
  width: 8px;
  margin: 0 7px;
  background: url(../pictures/svg/breadcrumbs.svg) no-repeat;
}

.breadcrumbs-item:last-child:after{
  content: none;
}

.filter-title{
  margin-bottom: 32px;
}
.infrastructure-list, .accommodation-list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.price-slider{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.filter-button-wrapper{
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.catalog{
  display: flex;
  padding: 50px 70px 60px 70px;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
  align-self: stretch;
}
.sort{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 49px;
  align-self: stretch;
}
.sort-type-list{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.sort-type-item{
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.product-list{
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin-bottom: 80px;
}
.hotel-card-img,
.product-card-title{
  display: block;
  grid-column: span 2;
}

.hotel-stars{
  display: flex;
  align-items: center;
  gap: 6px;
  flex: 1 0 0;
  align-self: stretch;
}

.more-info{
  background-color: #756157;
  padding: 8px 26px;
}
.favourites{
  width: 140px;
  height: 36px;
  display: flex;
  padding: 8px 8px;
  justify-content: center;
  align-items: center;
}
.more-info-a{
  padding: 8px 20px;
}

.products::after{
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #E6E6E6;
}

.pagination{
  display: flex;
  align-items: flex-start;
  gap: 8px;
  flex-wrap: wrap;
}

.pagination-item{
  position: relative;
  text-align: center;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  background-color: #82B3D3;
}
.pagination-link{
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
  color: #FFF;
}
.pagination-current-link{
  color: #000;
}
.pagination-current{
  background-color: #FFF;
}

.newsletter-subscribe-catalog {
  background: none;
  color: #000;
}

.newsletter-subscribe-catalog p{
  color: #333333;
}
