/* fonts */
@font-face {
	font-family: "PT Sans";
	src: url("../fonts/ptsans-700.woff2") format("woff2");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	src: url("../fonts/ptsans-400.woff2") format("woff2");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

/* standarts */
html,
body {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

body {
  margin: 0;
  font-family: Pt Sans, sans-serif;
  background: #f2f2f2;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  background: #fff;
  max-width: 1200px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}

.main-page {
  background-color: #FFF;
  flex-grow: 1;
  width: 1200px;
}

.page-footer {
  bottom: 0;
  display: flex;
  padding: 40px 70px 30px 70px;
  justify-content: space-between;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.standart-button {
  font-family: "PT Sans", sans-serif;
  border: 0;
  display: inline-block;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #82b3d3;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.gray-button {
  background-color: #756157;
}

.big-button {
  font-size: 20px;
  line-height: 24px;
}

.green-button {
  background-color: #7db54f;
}

.pads{
  padding: 0 70px;
}
/* header */
.page-header {
  margin: 0;
  padding: 0;
  flex-shrink: 0;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
}

.nav-logo {
  z-index: 2;
  display: block;
  position: relative;
  width: 140px;
  height: 70px;
  margin-bottom: -6px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 220px;
  display: flex;
  flex-wrap: wrap;
}

.navigation-page{
  margin-left: 30px;
  max-width: 500px;
}

.right-part {
  margin-left: auto;
}

.current-page{
  display: inline-block;
  position: relative;
}

.current-page::after{
  content: "";
  border-bottom: 2px solid #756257;
  position: absolute;
  display: block;
  width: calc(100% - 30px - 1.89px);
  bottom: 0;
}


.navigation-favorites::before{
  content: '12';
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top:11px;
  left: 20px;
  width: 20px;
  height: 20px;
  background: #7db54f;
  color: #ffffff;
  border-radius: 10px;
  font-size: 10px;
  line-height: 10px;
}

.navigation-link{
  font-family: Pt sans, sans-serif;
  font-size: 20px;
  line-height: 24px;
  padding: 20px 16px;
  display: block;
  color: #000;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}


.navigation-link:focus-visible{
  opacity: 0.6;
  outline: 2px solid #000000;
  outline-offset: -2px;
}

.navigation-link:hover{
  opacity: 0.8;
}

.navigation-link:active,
.navigation-link:active svg {
  opacity: 0.3;
}

.right-part .navigation-item {
  position: relative;
  min-width: 44px;
  min-height: 64px;
}

.right-part .navigation-link {
  display: flex;
  padding: 22px 12px;
  position: absolute;
}

.navigation-icon {
  display: block;
  fill: #fff;
}

.button-overflow-wrapper {
  margin-left: 20px;
  max-width: 200px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.navigation-here-button{
  margin-top: 14px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  padding: 8px 34px;
}

.navigation-here-button:hover,
.find-button:focus-visible{
  background: #615048;
  outline: none;
}

.navigation-here-button:disabled,
.find-button:disabled{
  background: #e5e5e5;
  pointer-events: none;
}

.navigation-here-button:active,
.find-button:active
{
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}


/* hero */
.welcome-hero-wrapper {
  display: block;
  min-height: 485px;
  padding-top: 51px;
  margin: 0 auto;
  background-color: #24d18f;
  background-image: url(../pictures/svg/whiteline.svg), url(../pictures/jpeg/sedona_background.jpg);
  background-position: bottom, bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: auto auto ,100% 100%;
  box-sizing: border-box;
}
.welcome-hero-wrapper img{
  display: block;
  margin: 0 auto;
}

.advanteges{
  text-align: center;
}

.description {
  margin: 0;
  padding: 0;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 36px;
  font-weight: 700;
  margin-top: 69px;
  margin-bottom: 25px;
}

.reasons-title {
  margin: 0;
  margin-bottom: 90px;
  color: #333;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.advanteges-item p {
  margin: 0;
  padding: 0;
  color: #fff;
  display: block;
  font-size: 18px;
  line-height: 21px;
}


.town {
  color: #FFF;
  display: grid;
  align-items: center;
  grid-template-columns: 400px auto;
}

.blue-card .advanteges-title::after{
  background-color: #FFF;
}

.advantages-text-wrapper {
  padding: 103px 83px;
  background-color: #82b3d3;
}

.nested-advanteges-list {
  background-color: #FFF;
  color: #FFF;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  min-height: 385px;
}

.advanteges-title::after{
  content: '';
  display: block;
  margin: 0  auto 0 auto;
  width: 60px;
  height: 2px;
  background-color: #000;
  opacity: 0.3;
  margin-top: 30px;
  margin-bottom: 30px;
}

.advanteges-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advanteges-title {
  text-align: center;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-picture{
  display: block;
}

.nested-advanteges-items {
  text-align: center;
  background-color: #83b3d31f;
}

.nested-advanteges-items .advanteges-title {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.nested-advanteges-items .advantages-description {
  color: #333;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.nested-advanteges-items:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.20);
}

.devil-bridge {
  display: grid;
  align-items: center;
  grid-template-columns: auto 400px;
  color: #fff;
  background-color: #82b3d3;
}

.come-to-sedona {
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.good-service {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #333;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.aditon-advanteges-wrapper{
  display: flex;
  padding: 64px 340px;
  flex-direction: column;
  gap: 20px;
}

.adition-advanteges-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  align-items: center;
}


.adition-advateges-item {
  display: flex;
  flex-direction: column;
  padding: 79.5px 85px;
}

.adition-advateges-item h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 30px 0;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 28px;
  text-align: center;
}

.adition-advateges-item:nth-child(odd) {
  background-color: #83b3d31f;
}

.adition-advanteges-description{
  margin: 0;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
}

.find-accommodation {
  text-align: center;
  display: flex;
  padding: 96px 304px;
  flex-direction: column;
  align-items: center;
}

.big-button{
  color: #ffffff;
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 36px;
  padding: 8px 50px;
}

.find-button{
  background-color: #756157;
}

.find-button:hover{
  background-color: #615048;
  outline: none;
}

.find-accommodation .big-text{
  margin-bottom: 20px;
}

.find-accommodation p {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
}

.newsletter-subscribe {
  background: #24d18f url(../pictures/jpeg/subscribe_background.jpg) no-repeat;
  color: #fff;
  display: flex;
  padding: 96px 258px 104px 258px;
  flex-direction: column;
  text-align: center;
  background-size: cover;
}

.newsletter-subscribe .newsletter-title{
  margin: 0;
  margin-bottom: 20px;
}

.newsletter-subscribe .text-bottom {
  margin: 0;
  color: #fff;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 54px;
}

.text-bottom:last-of-type{
  margin-bottom: 54px;
}

.email-submit{
  font-family: inherit;
  padding: 12px 20px;
  font-size: 18px;
  line-height: 25px;
  border: #f2f2f2;
  border-radius: 4px 0 0 4px;
  flex: 1 0 0;
  background: #f2f2f2;
  outline: 0;
}

.subscribe-button:hover{
  background: #68a2ca;
  outline: none;
}

.subscribe-button:active {
  color: rgba(255, 255, 255, 0.3)
}

.subscribe-button:disabled {
  background: #e5e5e5;
  pointer-events: none;
}

.newsletter-button
{
  display: flex;
}

.email-submit::placeholder{
  opacity: 0.8;
}

.contacts{
  display: flex;
  flex-wrap: wrap;
  max-width: 340px;
}

.phone-link{
  text-decoration: none;
  color: #000;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

.phone-link:hover,
.phone-link:active,
.phone-link:focus-visible{
  color:#756157;
}

.phone-link:active{
  opacity: 0.3;
}

.partnership{
  display: flex;
  flex-wrap: wrap;
  max-width: 120px;
}

.htmlacademy-logo-link {
  display: block;
  position: relative;
}


.htmlacademy-logo-link svg{
  fill: #000000;
}

.htmlacademy-logo-link:hover svg,
.htmlacademy-logo-link:active svg,
.htmlacademy-logo-link:focus-visible svg {
  fill: #756157;
}

.htmlacademy-logo-link:active{
  opacity: 0.3;
}



.settings-overflow-wrapper{
  display: flex;
  flex-wrap: wrap;
}

.group-fieldset{
  border: none;
  margin: 0;
  padding: 0;
}

.infrastructure-list,
.accommodation-list{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.infrastructure-group{
  margin-right: 70px;
}



.filter-main-title {
  font-size: 60px;
  line-height: 78px;
}

.filter-form .control {
  font-size: 18px;
  line-height: 23px;
  appearance: none;
  display: flex;
  align-items: center;
  max-height: 23px;
}

.filter-form .control-input{
  appearance: none;
  margin: 0;
  padding: 0;
  margin-right: 16px;
}

.filter-form .control:hover{
  opacity: 0.8;
}

.filter-form .control:active{
  opacity: 0.3;
}



.control-input:focus-visible{
  outline: 3px solid #83B3D3;
}

.radio-button:focus-visible{
  outline: 3px solid #83B3D3;
}

.radio-button,
.checkbox-button
{
  position: relative;
}

.checkbox-button{
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #FFF;
}

.radio-button{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: block;
  background-color: #FFF;
}

.checkbox-button:checked{
  background-image: url(../pictures/svg/tick.svg);
  background-position: center;
}

.radio-button:checked{
  background-image: url(../pictures/svg/radio-tick.svg);
  background-size: cover;
  background-position: center;
}

.range-scale {
  align-self: start;
  position: relative;
  width: 100%;
  height: 4px;
  background-color: #FFFFFF4D;
  cursor: pointer;
}

.current-range-bar {
  position: absolute;
  width: 226px;
  height: 4px;
  background-color: #FFFFFF;
  cursor: pointer;
}

.toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.toggle:hover{
  background-color: #68a2ca;
}

.toggle:focus-visible{
  outline: 3px solid #82b3d3;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -1px;
}

.slider-labels {
  color: #000;
  opacity: 0.3;
  text-transform: lowercase;
  text-align: right;
  font-size: 18px;
  line-height: 24px;
  position: absolute;
  right: 20px;
  top: 15px;
}

.position-wrapper{
  position: relative;
  display: inline-block;
}

.slider-input-wrapper{
  display: flex;
  gap:2px;
}

.price-number-input{
  margin: 0;
  max-width: 143px;
  border-radius: 4px 0 0 4px;
  border: none;
  padding: 14px 20px 10px;
  background: #f2f2f2;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.price-number-input:hover{
  background-color: #E6E6E6 ;
}

.price-number-input:focus-within{
  outline: 3px solid #83B3D3;
}

.price-number-max{
  border-radius: 0 4px 4px 0;
}

.price-number-input::-webkit-inner-spin-button,
.price-number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  appearance: none;
}

.price-number-input[type=number] {
  -moz-appearance:textfield;
  appearance: textfield;
}


.accept, .reset {
  padding: 8px 50px;
}

.reset {
  background: transparent;
  outline: none;
}

.accept:hover,
.accept:focus-visible{
  background-color: #68a2ca;
  outline: none;
}

.accept:active{
  background: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.reset:hover,
.reset:focus-visible{
  outline: none;
}

.reset:hover{
  opacity: 0.6;
}

.products{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}

.product-card {
  display: grid;
  max-width: 340px;
  align-items: center;
  padding: 19px;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 212px 1fr;
  gap: 16px 20px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
}

.more-info {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}


.product-card-image{
  display: block;
}

.product-card-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.price-hotel {
  text-align: right;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.rate {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  border-radius: 4px;
  background-color: #f2f2f2;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.subscribe-button {
  margin: 0;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
  line-height: 36px;
}
.newsletter-subscribe-form .email-submit,
.newsletter-subscribe-form .subscribe-button {
  margin: 0;
}
.advanteges h2,
.adition-advateges h2 {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.adition-advanteges-title::before{
  content: '';
  display: block;
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.home::before{
  background-image: url(../pictures/svg/home.svg);
}

.food::before{
  background-image: url(../pictures/svg/food.svg);
}

.souvenirs::before{
  background-image: url(../pictures/svg/souvenirs.svg);
}

.big-text{
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.filter-form .filter-title,
.price-range .slider-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  display: block;
  padding: 0;
}


.accommodation-type {
  font-size: 18px;
  line-height: 21px;
}

.select-control option{
  font-size: 18px;
  line-height: 21px;
}

.select-control{
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  min-width: 292px;
  background-color: #FFF;
  padding: 12px 20px;
  appearance: none;
  font-size: 18px;
  line-height: 21px;
  background-position: right 20px center;
  background-size: 12px, 7px;
  background-image: url(../pictures/svg/select.svg);
  background-repeat: no-repeat;;
  margin-left: auto;
  font-family: inherit;
}


.select-control:hover{
  border: 2px solid #68a2ca;
}

.select-control:active{
  border: 2px solid #3f5e72;
}

.button-table{
  display: inline-block;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  box-sizing: border-box;
  min-height: 48px;
  min-width: 48px;
  background-repeat: no-repeat;
  background-position: center;
}

.button-table-selected{
  border-color: #000;
}

.table{
  background-image: url(../pictures/svg/tablerow.svg);
}

.big-picture{
  background-image: url(../pictures/svg/grid.svg);
}

.list{
  background-image: url(../pictures/svg/list.svg);
}

.socials-list{
  list-style-type: none;
  display: flex;
  max-width: 150px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap ;
  align-items: center;
}

.selected-button{
  background-color: #7DB54F;
}

.socials-item{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials-link{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  padding: 0 10px;
}
.socials-link svg{
  fill: #83B3D3;
}


.socials-link:hover svg,
.socials-link:active svg {
  fill: #68a2ca;
  outline: none;
}

.socials-link:active svg {
  fill: rgba(104, 162, 202, 0.3);
}


/* catalog */
.header-filter h1{
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin-bottom: 8px;
}

.filter{
  display: flex;
  padding: 35px 70px 70px 70px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  background: #26f578 url(../pictures/jpeg/filter_background.jpg) no-repeat;
  background-size: cover;
  color: #fff;
}

.filter-form{
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: wrap;
}

.breadcrumbs-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 1050px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}

.home-breadcrumbs{
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../pictures/svg/home_page.svg);
}

.breadcrumbs-item{
  display: flex;
  align-items: center;
  background-repeat: no-repeat;

}

.breadcrumbs-link{
  font-size: 16px;
  line-height: 21px;
  color: #FFF;
  text-decoration: none;
  display: block;
}

.breadcrumbs-link:hover{
  opacity: 0.8;
}

.breadcrumbs-link:active{
  opacity: 0.3;
}


.breadcrumbs-link:focus-visible{
  outline: none;
  border: none;
  max-width: 23px;
}

.breadcrumbs-item::after{
  content: '';
  display: block;
  height: 11px;
  width: 8px;
  margin: 0 10px;
  background: url(../pictures/svg/breadcrumbs.svg) no-repeat center;
}

.breadcrumbs-item:last-child:after{
  content: none;
}

.filter-title{
  margin-bottom: 32px;
}

.infrastructure-list,
.accommodation-list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}



.price-slider{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 43px;
  margin-left: auto;
}

.filter-button-wrapper{
  display: flex;
  margin-left: 70px;
  padding-top: 56px;
  align-self: flex-end;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.catalog{
  display: flex;
  padding: 50px 70px 60px 70px;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
  align-self: stretch;
}

.sort{
  display: flex;
  align-items: center;
  margin: 0;
  flex-wrap: wrap;
  align-self: stretch;
}

.hotel-counter{
  margin: 0;
  padding: 0;
}

.sort-type-list{
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  max-width: 160px;
  justify-content: flex-end;
  margin-left: 70px;
  flex-wrap: wrap;
  gap: 8px;
}

.sort-type-item{
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.product-list{
  position: relative;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin-bottom: 80px;
}

.hotel-card-img,
.product-card-title{
  display: block;
  grid-column: span 2;
}

.hotel-stars::before{
  content: '';
  display: block;
  max-width: 105px;
  height: 17px;
  background-size: contain;
  background-repeat: repeat-x;
  background-image: url(../pictures/svg/star.svg);
}

.four-stars{
  width: 90px;
}

.three-stars{
  width: 66px;
}

.two-stars{
  width: 42px;
}

.favourites{
  width: 140px;
  height: 36px;
  display: flex;
  padding: 8px 8px;
  justify-content: center;
  align-items: center;
}

.more-info {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #756157;
}

.product-list::after{
  content: '';
  display: block;
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #E6E6E6;
}

.pagination{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  max-width: 1060px;
  align-items: flex-start;
  gap: 8px;
  flex-wrap: wrap;
}

.pagination-item{
  display: flex;
  min-width: 60px;
  min-height: 60px;
  border-radius: 4px;
  background-color: #82B3D3;
  align-items: center;
}

.pagination-link{
  padding: 19.5px 11px;
  color: #FFF;
  flex-grow: 1;
  display: block;
  text-align: center;
  min-height: 100% ;
  text-decoration: none;
}


.pagination-item:hover,
.pagination-next:focus-visible{
  background-color: #68a2ca;
}

.pagination-item:active{
  background-color: #82b3d3;
}

.pagination-link:active{
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current:hover,
.pagination-current:focus-visible,
.pagination-current:active,
.pagination-next:hover,
.pagination-next:focus-visible,
.pagination-next:active {
  background: #f2f2f2;
  color: #000000;
  border: none;
  outline: none;
}

.pagination-current .pagination-link,
.pagination-next .pagination-link{
  color: #000;
}

.pagination-next{
  background-color: #FFF;
}

.pagination-current{
  background-color: #F2F2F2;
}

.newsletter-subscribe-catalog {
  background: none;
  color: #000;
}

.newsletter-subscribe-catalog .text-bottom{
  color: #333333;
}
